<h1 align="center">Welcome to <%= @user.username %>'s page</h1>

<div class="row">

  <div class="col-md-4 col-md-offset-4 center">

    <% if @user.profile_picture.attached? %>

      <%= image_tag(@user.profile_picture, style: 'width:70%')%>

    <%end %>

  </div>
</div>
</br>
<% if logged_in? && current_user == @user %>
  <h1 align="center"> <%=@user.username %>'s Submissions:</h1>    
<%end%>
</br>
<div>
  <%= render 'submissions/submission', obj: @user.submissions %>
</div>
