<!DOCTYPE html>
<html>
<head>
<title></title>
</head>
<body>
<%= link_to image_tag('home.jpg'), 'about' %>
<p>Hello, this is the home page!</p>
<%= link_to 'About Page', pages_about_path %>
</body>
</html>
