<div class="container">

<footer class="footer">

<small>

Copyright © <a href="https://www.jawaker.com/">Jawaker Internship</a>

by <a href="https://jo.linkedin.com/in/nada-al-shamayleh-61009719a">Nada Al-Shamayleh</a>

</small>

<nav>

<ul>

<li><%= link_to "About", about_path %></li>

</ul>

</nav>

</footer>

</div>
